{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block inner %}
<h1>{% trans "Register" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login in</a>.{% endblocktrans %}</p>
<div class="ui form segment">
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <!--{{ form|crispy }}-->
  <div class="field">

      <label for="{{ form.username.id_for_label }}">Username*</label>
     {{ form.username.errors }}
      {{ form.username }}
  </div>

   <div class="field">

      <label for="{{ form.email.id_for_label }}">Email address*</label>
      {{ form.email.errors }}
      {{ form.email }}
  </div>

   <div class="field">

      <label for="{{ form.password1.id_for_label }}">Password*</label>
      {{ form.password1.errors }}
      {{ form.password1 }}
  </div>

   <div class="field">

      <label for="{{ form.password2.id_for_label }}">Password (again)* </label>
      {{ form.password2.errors }}
      {{ form.password2 }}
  </div>

    <div class="field">

      <label for="{{ form.captcha.id_for_label }}"></label>
      {{ form.captcha.errors }}
      {{ form.captcha }}
  </div>

 <br/>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}


  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>



</form>
</div>

{% endblock %}

