{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">


    <h1 class="ui header">
     {% if object.name %}
        <h2>{{ object.name }}</h2>
      {% else %}
         <h2>{{ object.username }}</h2>
      {% endif %}

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

 <form action="{{ action }}" method="POST" class="form-horizontal ui form">
 <h4 class="ui dividing header">Basic Information</h4>
  {% csrf_token %}
  <ul>
   {{ form.non_field_errors }}
   <div class="three fields">
  <div class="field">
      {{ form.name.errors }}
      <label for="{{ form.name.id_for_label }}">Name</label>
      {{ form.name }}
  </div>
 
</div>




  </ul>

  
  <input class="ui primary button right floated" type="submit" value="Save" />

   
</form>
</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

