{% extends "matrimonial_base.html" %}
{% load static %}

{% block title %}User: {{ object.name }}{% endblock %}

{% block content %}
<div class="ui container">


    <h1 class="ui dividing header">About me</h1>



 <form action="{{ action }}" method="POST" class="form-horizontal ui form">
 
   {% csrf_token %}

    <div class="ui teal progress" id="progressbar2">
    <div class="bar"></div>
    <div class="label"></div>
  </div>
  
  <ul>
     {{ form.non_field_errors }}

     <div class="two fields">
        <div class="field">
          {{ form.height.errors }}
          <label for="{{ form.height.id_for_label }}">Height</label>
          {{ form.height }}
      </div>
       <div class="field">
          {{ form.weight.errors }}
          <label for="{{ form.weight.id_for_label }}">Weight (kgs)</label>
          {{ form.weight }}
      </div>
    </div>

     <div class="two fields">
        <div class="field">
          {{ form.body_type.errors }}
          <label for="{{ form.body_type.id_for_label }}">Body type</label>
          {{ form.body_type }}
      </div>
       <div class="field">
          {{ form.complexion.errors }}
          <label for="{{ form.complexion.id_for_label }}">Complexion</label>
          {{ form.complexion }}
      </div>
    </div>

    <div class="field">
          {{ form.mother_tongue.errors }}
          <label for="{{ form.mother_tongue.id_for_label }}">Mother Tonge</label>
          {{ form.mother_tongue }}
      </div>

    <div class="field">
        {{ form.about_me.errors }}
        <label for="{{ form.about_me.id_for_label }}">About me</label>
        {{ form.about_me }}
    </div>

    <div class="field">
        {{ form.looking_for.errors }}
        <label for="{{ form.looking_for.id_for_label }}">What I Am Looking For ?</label>
        {{ form.looking_for }}
    </div>

  </ul>

  
  <input class="ui primary button right floated" type="submit" value="Save" />

  
</form>


<!-- End Action buttons -->


</div>
{% endblock content %}

