{% extends "matrimonial_base.html" %}
{% load static %}

{% block title %}Juhapura Matrimonial{% endblock %}

{% block content %}
{{ Profile }}

<div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
    We are still developing site...
  </div>
  <ul class="list">
    <li>Although, you can add your profile via clicking Activate/Update Profile.</li>
  </ul>
</div>

<div class="ui">

{% if not profile %}
<form action="{% url 'matrimonial:activate' %}" method="POST">
  <button type="submit" class="ui basic button right floated">
    <i class="icon user"></i>
    Activate profile
  </button>
  </form>
{% else %}
<a href='{% url 'matrimonial:profile_update'  %}'>
<button type="submit" class="ui basic button right floated">
    <i class="icon user"></i>
    Update profile
  </button>
</a>
{%endif%}

</div>
<br/>
<br/>

<br/>
<div class="ui three column very relaxed grid">
  <div class="column">
  <h3>Private</h3>
    <p>We take privacy very serious and that reflect in our website. Our member profile are only visible to serious match seeker. Because not everyone wants their picture and profile to show up when people google it :)</p>
   
  </div>
 
  <div class="column">
  <h3>Trust</h3>
    <p>We believes it takes years to build trust and it takes seconds to lose it. Our site designed for only those who are serious about getting married. Our goal is to provide a halal service for Muslims to find their other half.</p>
   
  </div>

  <div class="column">
  <h3>Islamic</h3>
    <p>We keep our site tailored to the principles of Islam. No chat rooms, no poking, no winks and you can't view the same gender. Why would you want to? We even welcome your parents to our website and to be involved in the decision-making process.</p>
    
  </div>
</div>

<h2> Privacy Protection</h2>

Our sole purpose is to help you find your other half, comfortably and privately. If you are serious about getting married and want to do it discretely, then you have come to the right place. Our ironclad Five-Point Privacy Protection is one of the main reasons why Muslims will be safe here to find their other half. How do we keep the process of finding your other half as private and safe as possible?
<ul><li>
First, we filter out the players. Free browsing is not an option here at Juhapura matrimonial. That’s why we only allow registered members to enter our secure site</li>
<li>
Second, this is a No Fake Profile Zone. We block the hide-and-seekers with strict quality control that prevents fake profiles. All members complete their own real profiles before being able to view other profiles.</li>
<li>
Third, we give you strict control over who qualifies to see your profile. Set your deal breaker questions to control profile access, block unwanted attention, and stay in control.</li>
<li>
Fourth, we don’t use your profile to advertise on the internet, so your picture and profile don’t show up in Google search! This kind of privacy is important to our members and parents (walis) alike.
</li><li>
Last, Matrimonial section has a No Ad policy. We allow no spam, pop-ups, banner ads, or even text ads. We’re here to connect real people with real matches, not to promote dodgy affiliate products.
</li></ul>
{% endblock content %}