{% extends "matrimonial_base.html" %}
{% load static %}

{% block title %}Juhapura Matrimonial{% endblock %}

{% block content %}
{{ Profile }}

<div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
    We are still developing site...
  </div>
  <ul class="list">
    <li>Although, you can update your profile via clicking My Profile.</li>
    <li>This service will be free for benefit for our community</li>
  </ul>
</div>

<div class="ui">

{% if not profile %}
<form action="{% url 'matrimonial:activate' %}" method="POST">
  <button type="submit" class="ui basic button right floated">
    <i class="icon user"></i>
    Activate profile
  </button>
  </form>
{% else %}
<a href='{% url 'matrimonial:profile_update'  %}'>
<button type="submit" class="ui basic button right floated">
    <i class="icon user"></i>
    Update profile
  </button>
</a>
{%endif%}

</div>
<br/>
<br/>

<br/>
<div class="ui three column very relaxed grid">
  <div class="column">
  <h3>Private</h3>
    <p>We take privacy very serious and that reflect in our website. Our member profile are only visible to serious match seeker. Because not everyone wants their picture and profile to show up when people google it :)</p>
   
  </div>
 
  <div class="column">
  <h3>Trust</h3>
    <p>We believes it takes years to build trust and it takes seconds to lose it. Our site designed for only those who are serious about getting married. Our goal is to provide a halal service for Muslims to find their other half.</p>
   
  </div>

  <div class="column">
  <h3>Islamic</h3>
    <p>We keep our site tailored to the principles of Islam. No chat rooms, no poking, no winks and you can't view the same gender. Why would you want to? We even welcome your parents to our website and to be involved in the decision-making process.</p>
    
  </div>
</div>
{% endblock content %}