{% extends "base.html" %}
{% load static %}

{% block title %}
{{profile.first_name}} {{profile.surname}} 
{% endblock %}
 



{% block content %}
<h1>{{profile.first_name}} {{profile.surname}}</h1>

<div class="ui info message">
  <i class="close icon"></i>
  <div class="header">
    Thank you, we have now your profile.
  </div>
  <ul class="list">
    <li>We are just preparing this page visit us soon.</li>
    <li>This service will be free for benefit for our community</li>
  </ul>
</div>


<h1></h1>
{% endblock content %}
