{% extends "matrimonial_base.html" %}
{% load static %}

{% block title %}User: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">


<h1 class="ui dividing header">Religion</h1>
 


<!-- Action buttons -->
<div class="row">

 <form action="{{ action }}" method="POST" class="form-horizontal ui form">
 
  {% csrf_token %}
  
  <div class="ui teal progress" id="progressbar4">
    <div class="bar"></div>
    <div class="label"></div>
  </div>

  <ul>
     {{ form.non_field_errors }}

<div class="two fields">
  <div class="field">
          {{ form.cast.errors }}
          <label for="{{ form.cast.id_for_label }}">Sect</label>
          {{ form.cast }}
      </div>

    <div class="field">
          {{ form.sub_cast.errors }}
          <label for="{{ form.sub_cast.id_for_label }}">Sub sect</label>
          {{ form.sub_cast }}
      </div>
</div>

   <div class="two fields">
    
    <div class="field">
        {{ form.hijab.errors }}
        <label for="{{ form.hijab.id_for_label }}">Hijab</label>
        {{ form.hijab }}
    </div>

  <div class="field">
      {{ form.beard.errors }}
      <label for="{{ form.beard.id_for_label }}">Beard</label>
      {{ form.beard }}
  </div>

  </div>

<div class="two fields">
 
  </div>

  </ul>

  <input class="ui primary button right floated" type="submit" value="Save" />
  
  
</form>

</div>
<!-- End Action buttons -->



</div>
{% endblock content %}

