{% extends "base.html" %}
{% load static %}

{% block title %}User: {{object.user}}{% endblock %}

{% block content %}

<h1 class="ui dividing header">Upload profile picture</h1>

  <div class="ui teal progress" id="progressbar6">
    <div class="bar"></div>
    <div class="label"></div>
  </div>

{{ object.instance}}

<form action="" method="post" enctype="multipart/form-data">
<div class="two fields">
    {% csrf_token %}
    {{ form.as_p }}
    <input  type="submit" class="ui primary button right floated" value="Send" />
    </div>
</form>

{% endblock content %}